body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .topnav p {
      float: left;
      color: rgb(12, 3, 3);

  }
  .topnav {
    overflow: hidden;
    background-color: rgb(245, 240, 240);
    border-radius: 0px;
     
    text-align: center;
    align-items: center;
  }
  
  .topnav a {
    float: right;
    color: #080101;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav p{
    padding-left: 10px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }   
  
.heading{
  padding: 10px 10px;
}
hr {
  display: block;
  height: 1px;
  border: 100;
  border-top: 1px solid #ccc;
  
  margin: 10px 10px;
 
}
.header_image{
  width: 100%;
}
.column img{
  width: 100%;
  height: 200px;
}
.column {
  position: relative;
 
  float: left;
  width: 25%;
  padding: 20px;
 }

.image-heading{
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 10px;
  color: white;
  background-color: black;
}
*{
  box-sizing: border-box;
}


.about{
  padding: 20px;
  margin-bottom: 10px;
}
.row{
 margin-bottom: 20px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.w3-opacity{
font-size: 18px;
font-weight: 700;
}

.sub-title{
  font-size: 15px;
  color: rgb(228, 227, 233);
}
.w3-opacity1{
  font-size: 15px;
  color: rgb(228, 227, 233);
}



.w3-opacity2{
  font-size: 15px;
  color: rgb(228, 227, 233);

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.button{
  background-color: rgb(72, 75, 72); 
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 20px
}

.w3-button{
  background-color: rgb(169, 169, 187); 
  border: none;
  width: 100%;
  color: rgb(26, 22, 22);
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.w3-center{
  color: #fff!important;
  background-color: #000!important;
  padding: 16px;
  text-align: center;
  box-sizing: inherit;
  display: block;
 




}